.banner{
    min-height: 700px;
    width: 100%;
    position: relative;
    background: linear-gradient(0deg, #E4E8F0 0%, #F6F7FA 32.29%);
    z-index: 1;
  
    .link__liquid{
      position: absolute;
      bottom: 40px;
      right: 15%;
      @include mobile(){
        bottom: 100px;
      }
    }
    .scroll{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    .banner__slider{
      height: 100%;
  
    }
    .banner__item{
      text-align: center;
      min-height: 700px;
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mobile(){
        padding: 0 20px;
      }
    }
    .banner__title{
  
    }
    .banner__big{
      height: 200px;
      margin: 0 auto 30px;
      @include mobile(){
        height: auto;
        width: 80%;
  
      }
    }
    .banner__text{
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      color: $dark2;
      strong{
        font-weight: bold;
        color: $dark;
      }
  
    }
    .slick-dots{
      bottom: 120px;
      li{
        width: 10px;
        height: 10px;
        button{
          width: 10px;
          height: 10px;
          &:before{
            width: 10px;
            height: 10px;
            line-height: 6px;
            transition: all .3s;
            border:solid 2px transparent;
          }
          &:hover{
            &:before{
              color: #0081EB;
            }
  
          }
        }
  
        &.slick-active{
          button{
            &:before{
              width: 10px;
              height: 10px;
              border:solid 2px #0081EB;
              color: transparent;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  
  .item__section{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    @include mobile(){
      text-align: left;
    }
    img{
      display: block;
      margin:0 auto 20px;
      @include mobile(){
        width: 100%;
      }
    }
    h2{
      margin-bottom: 20px;
      font-family: 'Roboto Slab',serif;
      @include mobile(){
        text-align: left;
        max-width: 60%;
      }
    }
    h4{
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color:  $dark2;
      margin-bottom: 30px;
    }
    strong{
      font-weight: bold;
    }
    p{
      font-weight: 300;
      font-size: 14px;
      line-height: 23px;
      color: $dark2;
      strong{
        font-weight: bold;
        color: $dark;
      }
    }
  
  }
  
  .things,.customer,.doing{
    &.bgc{
      background-color: #F6F7FA;
    }
    .container{
     text-align: right;
    }
    .link__liquid--color{
      display: inline-flex;
      @include mobile(){
        margin-top: 20px;
        margin-right: 20px;
      }
    }
  }
  
  .logos__box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
    .logos__item{
      width: calc( (100% - 32px) / 5);
      height: 104px;
      border:  1px solid #E4E8F0;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: grayscale(100%);
      margin: 3px;
      transition: all .3s;
      img{
        margin: 0;
        @include mobile(){
          width:initial !important;
        }
      }
      &:hover{
        filter: grayscale(0%);
      }
  
      @include mobile(){
        width: calc( (100% - 32px) / 3);
  
      }
    }
  }
  
  
  .doing{
    h2{
      margin-bottom: 30px;
    }
    .doing__logo{
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .doing__author{
      display: flex;
      align-items: center;
      font-size: 12px;
      font-family: 'Roboto',sans-serif;
      span{
        margin: 0;
      }
      img{
        margin-right: 10px;
      }
    }
    .doing__info{
      color: #fff;
      font-family: 'Roboto Slab',serif;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin-bottom: 20px;
      strong{
        width: 60%;
        line-height: 30px;
        padding: 0 10px 0 0;
      }
      span{
        padding: 0 10px 0 0;
        width: 40%;
        font-size: 14px;
        font-family: 'Roboto',sans-serif;
        line-height: 22px;
      }
    }
    .doing__bottom{
      color: #fff;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .doing__principal{
      min-height: 430px;
      width: 100%;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      position: relative;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
      justify-content: flex-end;
    }
    .doing__button{
      width: 25px;
      height: 25px;
      background-image: url(../img/flechas3.svg);
      background-position: right;
      -webkit-background-size: 52px;
      background-size: 52px;
      display: block;
    }
  
    .doing__item{
      min-height: 433px;
      background-color: #fff;
      text-align: left;
      margin-bottom: 30px;
      .doing__top{
        min-height: 158px;
        -webkit-background-size: cover;
        background-size: cover;
      }
      .doing__box{
        padding: 20px;
        strong{
          font-size: 19px;
          font-family: 'Roboto Slab',serif;
          font-weight: normal;
          margin-bottom: 10px;
          line-height: 26px;
          display: block;
        }
        span.text{
          font-family: 'Roboto',sans-serif;
          font-weight: normal;
          font-size: 14px;
          margin-top: 10px;
          line-height: 22px;
          color: $dark2;
          display: block;
        }
        .doing__button--blue{
          @extend .doing__button;
          background-position: left;
          float: right;
          margin-top: 20px;
        }
      }
    }
  }